version: '3.3'

services:
  evolution-api:
    container_name: evolution_api
    image: attias/evolution-api:v2.1.1
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store
    environment:
      # URL da API
      - SERVER_URL=http://localhost:8080
      
      # Chave Global de Autenticação (Defina sua senha aqui)
      - AUTHENTICATION_API_KEY=xpace_secure_key_2025
      
      # Banco de Dados (Usando Local JSON para simplificar, sem precisar de Postgres/Redis por enquanto)
      - DATABASE_PROVIDER=local
      
      # Configurações Gerais
      - DEL_INSTANCE=false
      - LOG_LEVEL=ERROR
      
      # Webhook Global (Opcional, configuraremos por instância)
      #- WEBHOOK_GLOBAL_URL=http://host.docker.internal:3001/webhook
      #- WEBHOOK_GLOBAL_ENABLED=true

volumes:
  evolution_instances:
  evolution_store:
